/* <uniquifier>: Use a uniquifier for the class name */
/* <weight>: Use a value from 100 to 900 */

/* .lexend-<uniquifier> {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

:root {
  font-size: 16px;
}

* {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.header {
  /* width: 100vw; */
  border-bottom: solid 1px var(--back-gray);
  padding: 0.5rem;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header button {
  border: none;
  background: none;
}

.filters-dialog {
  background-color: var(--back-gray);
  border: solid 1px var(--ghost-gray);
  width: 90vw;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  gap: 1rem;
  margin-top: 0.5rem;
  padding: 1rem;
}

.filters-dialog :first-child,
.filters-dialog :last-child {
  background-color: var(--back-gray);
  color: var(--eerie-black);
  border: solid 1px var(--dim-gray);
}

.filters-dialog button {
  font-weight: 300;
  width: 200px;
  background-color: var(--eerie-black);
  color: var(--ghost-gray);
  border: none;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
}

.mobileNavList {
  background-color: white;
  position: absolute;
  width: 100vw;
  top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding-top: 1rem;
  gap: 1rem;
}

.mobileNavList li {
  width: 80%;
  display: flex;
  justify-content: center;
}

.mobileNavList li a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: var(--eerie-black);
  padding: 0.5rem;
  border-bottom: solid 1px var(--back-gray);
}

.mobileNavList div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.mobileNavList div a {
  text-decoration: none;
  color: var(--pink);
}

.airbnbButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.airbnbButton :hover {
  cursor: pointer;
}

.airbnbButton p {
  display: none;
  color: var(--pink);
  font-weight: 500;
}

.mainNav {
  display: none;
}

.mainNav button {
  transition-duration: 300ms;
  padding: 0.3rem 0.7rem;
  font-weight: 300;
  border-radius: 5px;
}

.mainNav button:hover {
  cursor: pointer;
  font-weight: 400;
  background-color: var(--back-gray);
}

.actionsNav {
  border: solid 1px var(--ghost-gray);
  border-radius: 5px;
  display: none;
  gap: 0;
}

.actionsNav button {
  transition-duration: 300ms;
  padding: 0.3rem 0.7rem;
  font-weight: 300;
  /* border-radius: 5px; */
}

.actionsNav button:hover {
  cursor: pointer;
  font-weight: 400;
}
.actionsNav :first-child {
  border-right: solid 1px var(--back-gray);
  background-color: var(--eerie-black);
  color: var(--ghost-gray);
  border-radius: 5px 0px 0px 5px;
}
.actionsNav :first-child:hover {
  background-color: black;
  color: white;
}
.actionsNav :nth-child(2) {
  border-right: solid 1px var(--back-gray);
  background-color: var(--back-gray);
  color: var(--dim-gray);
  border-radius: 0px 5px 5px 0px;
}
.actionsNav :nth-child(2):hover {
  background-color: var(--ghost-gray);
  color: black;
}

.home-container,
.connection-container,
.create-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.home-container {
  align-items: center;
}

.filters-container {
  width: 100%;
  border-bottom: solid 1px var(--back-gray);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.annonces {
  padding: 0.5rem;
  margin: auto;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  width: 100%;
}

.annonce-card {
  width: 100%;
  margin-bottom: 2rem;
}

.annonce-card > img {
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.annonce-card > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  margin-top: 0.5rem;
}

/* .annonce-card div p {
  text-align: center;
} */

.annonce-card div :first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.annonce-card div :nth-child(2),
.annonce-card div :nth-child(3),
.secondary-fields {
  color: var(--dim-gray);
  font-size: 1rem;
  font-weight: 300;
}

.annonce-card div :nth-child(4) {
  font-weight: 400;
}

.annonce-card div .bold {
  font-weight: 500;
}

.annonce-card-details {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 0.5rem;
}

.annonce-card-details-group {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 0.5rem;
}

.create-container,
.connection-container {
  align-items: start;
  padding: 2rem;
  h1 {
    margin: 2rem 0rem 1.5rem 0rem;
  }
  > p {
    font-weight: 300;
    margin-bottom: 1rem;
  }

  #typeSelect {
    background-color: var(--eerie-black);
    color: var(--back-gray);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-weight: 300;
    margin: 1rem 0 3rem 0;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    font-style: 300;
    width: 100%;

    button {
      background-color: var(--eerie-black);
      color: var(--ghost-gray);
      padding: 0.5rem 2rem;
      font-size: 1.125rem; /* 18px */
      line-height: 1.75rem; /* 28px */
      border: none;
      border-radius: 5px;
      width: 100%;
    }
    .field-container {
      width: 100%;

      display: flex;
      gap: 0.5rem;

      label {
        font-weight: 400;
      }
      select {
        background-color: var(--eerie-black);
        color: var(--ghost-gray);
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
      }
      input {
        border-radius: 5px;
        border: solid 1px var(--dim-gray);
        padding: 0.2rem 0.5rem;
      }
      input[type="text"],
      input[type="password"] {
        width: 100%;
      }
      input[type="number"] {
        width: 50%;
        max-width: 200px;
      }
      input[type="checkbox"] {
        accent-color: var(--eerie-black);
      }
    }

    .field-container:not(:nth-last-child(-n + 3)) {
      flex-direction: column;
    }
  }
}

.connexion-logo-div {
  display: none;
}

@media screen and (min-width: 768px) {
  .connection-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .form-container {
    width: 50%;
  }
  .connexion-logo-div {
    display: flex;
    width: 50%;
    justify-content: center;
  }
  .logo-div-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .logo-div-container > p {
    font-size: 2rem;
    color: var(--pink);
  }
  .logo-div-container > img {
    width: 50px;
  }
}

.connection-container {
  color: var(--eerie-black);
}

.form-container > p {
  font-weight: 300;
  font-size: 0.9rem;
}
#connexionForm {
  margin-top: 2rem;
}

#connexionForm > button {
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  margin-top: 0.5rem;
}

#connexionForm > div {
  display: flex;
  flex-direction: column;
}

.mobile-trigger {
  background-color: var(--back-gray);
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  font-weight: 300;
  gap: 0.5rem;
}

.mobile-trigger img {
  width: 20px;
}

.large-screen-filters {
  display: none;
  gap: 0.5rem;
}

.large-screen-filters button {
  font-weight: 300;
  padding: 0.2rem 0.5rem;
  background-color: var(--eerie-black);
  color: var(--ghost-gray);
  border: none;
  border-radius: 5px;
}

.buttonsToHome:hover,
.buttonsToCreate:hover,
.buttonsToConnexion:hover {
  cursor: pointer;
}

.credentialsPopup {
  position: absolute;
  background-color: var(--back-gray);
  color: var(--eerie-black);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.credentialsPopup > button {
  background: var(--eerie-black);
  color: var(--back-gray);
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  border: none;
  border-radius: 5px;
}

.credentialsPopup > p {
  font-size: 1.2rem;
  text-align: center;
}

@media screen and (min-width: 550px) {
  .annonces {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 640px) {
  .create-container {
    width: 80%;
  }
  .mobileMenuButton {
    display: none;
  }

  .mainNav,
  .actionsNav,
  .airbnbButton > p {
    display: flex;
  }

  .header {
    padding: 1rem 2rem;
  }

  .mobile-trigger {
    display: none;
  }
  .large-screen-filters {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .create-container {
    width: 70%;
  }
  .header {
    padding: 1rem 2rem;
  }
  .annonces {
    gap: 1rem;
    padding: 1rem;
  }

  .annonce-card div p {
    text-align: left;
  }
}

@media screen and (min-width: 950px) {
  .annonces {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .create-container {
    width: 50%;
  }
  .header {
    padding: 1rem 2rem;
  }
  .mainNav {
    button {
      font-size: 1rem; /* 16px */
      line-height: 1.5rem; /* 24px */
      padding: 0.2rem 1rem;
    }
  }

  .price-filter {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1128px) {
  .annonces {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1300px) {
  .create-container {
    width: 40%;
  }
  .annonces {
    padding: 3rem;
    gap: 1.5rem;
  }
  .form-container {
    width: 40%;
  }
  .logo-div-container > p {
    font-size: 3rem;
  }
  .logo-div-container > img {
    width: 75px;
  }
}
@media screen and (min-width: 1640px) {
  .annonces {
    grid-template-columns: repeat(5, 1fr);
  }
}

button:hover {
  cursor: pointer;
}
